html{
    width: 100%;
    height: 100%;
    
    padding:0;
    margin: 0px;
    margin-top: -8px;
    box-sizing: border-box;
   
    background-image: url(back4.jpg);
    background-size: 100%;
    
    }
body{
    width: 100%;
    height: 100%;
    
    padding:0;
    margin: 0px;
    margin-top: -8px;
    box-sizing: border-box;
   
    background-image: url(back4.jpg);
    background-size: 100%;
    scroll-behavior: smooth;
    }

.pc{
    margin: 0px;
}
.navigation{
    height: 95px;
    width: 100%;
    background-color: rgba(243, 240, 240, 0.5);
    margin-bottom: 70px;
    position:fixed;
    z-index: 1000;
}
.spacer
{
    width: 100%;
    height: 95px;
}
.nav_text{
    margin-right: 30%;
    display: flex;
    float: right;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#logoimg{
    height: 70px;
    width: 70px;
    display: inline;
    overflow: hidden;
    animation: logo_rotate 2s infinite;
    margin: 0px;
    padding: 0px;
    /* position: absolute; */
}
#logo_text{
    overflow: hidden;
    white-space: nowrap;
    animation: text 6s linear;
    position: absolute;
    margin: 0px;
    top: 25px;
    font-weight: 500;
    font-size: 40px;
}

.logo_stuff{
    text-decoration: none;
    display: inline;
    list-style-type: none;
    float: left;
    margin: 0px;
}
.nav_items{
    text-decoration: none;
    display: inline;
    list-style-type: none;
    float: right;
    top: 20px;
    font-size: 30px;
    margin: 10px;
    padding: 10px;
}
.nav_items a{
    color: black;
    text-decoration: none;
}
.nav_items:hover{
    background-color: rgb(167, 164, 164);
    border-radius: 5px;
    cursor: pointer;
}

@keyframes text{
    0%{
        width: 0ch;
    }   
    50%{
        width: 8ch;
    }
}
.dropdown{
    visibility: hidden;
    

}
@keyframes logo_rotate{
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}
@media (maxwidth: 820px) {
    .dropdown{
        visibility: visible;
        overflow: hidden;
        display: inline-block
    }
    .nav_items{
        visibility: hidden;
    }
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    position: relative;
    /* flex-wrap: wrap; */
  }
  
  img {
      height: 500px;
      width: 900px;
      border-radius: 5px;
    }
    
    .image {
     margin-left: 40px;
    flex-basis: 100;
    margin-bottom: 10px;
    margin-top: 10px;
    transition: 2s;
  }
  
  .text {
    
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .para{
      padding: 20px ;
      border: 2px solid black;
      border-radius: 5px;
      box-shadow: 2px 2px rgb(90, 88, 88);
      /* background-color: rgb(248, 248, 248); */
      transition: 2s;
  }
  .para:hover{

      transform: scale(1.1);
      background-color: rgba(165, 163, 163, 0.5);
  }
  
  .image:hover{
    transform: scale(1.1);
  }
  .heading{
      text-align: center;
  }
  p{
      font-size: 95px;
      display: inline;
      border-radius: 10px;
      background-color: rgb(139, 136, 136);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
  }
  #bear{
      
      margin:0px;
      display: flex;
      /* align-items: center;
       */
       justify-content: center;
  }
  #bear img{
    height: 300px;
    width: auto;
    margin: 0px;
  }
  