html,body{
    width: 100%;
    height: 100%;
    margin:0px;
    margin-top: -8px;
    padding:0;
    box-sizing: border-box;
    }
.pc{
    margin: 0px;
}
.navigation{
    height: 70px;
    width: 100%;
    background-color: rgb(10, 1, 1,0.1);
    margin: 0px;
}
.nav_text{
    margin-right: 0px;
    display: flex;
    float: right;
    margin-top: 8px;
    
}
#logoimg{
    height: 70px;
    width: 70px;
    display: inline;
    overflow: hidden;
    animation: logo_rotate 6s ease infinite;
    margin: 0px;
    padding: 0px;
}
#logo_text{
    overflow: hidden;
    white-space: nowrap;
    animation: text 6s linear;
    position: absolute;
    margin: 0px;
    top: 0px;
    font-weight: 500;
    font-size: 40px;
}

.logo_stuff{
    text-decoration: none;
    display: inline;
    list-style-type: none;
    float: left;
    margin: 0px;
}
.nav_items{
    text-decoration: none;
    display: inline;
    list-style-type: none;
    float: right;
    top: 30px;
    font-size: 20px;
    margin: 10px;
}
.nav_items a{
    color: black;
    text-decoration: none;
}
.nav_items:hover{
    background-color: rgb(167, 164, 164);
    border-radius: 5px;
    cursor: pointer;
}
@keyframes text{
    0%{
        width: 0ch;
    }   
    50%{
        width: 8ch;
    }
}
.dropdown{
    visibility: hidden;
    

}
@keyframes logo_rotate{
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}
@media (maxwidth: 820px) {
    .dropdown{
        visibility: visible;
        overflow: hidden;
        display: inline-block
    }
    .nav_items{
        visibility: hidden;
    }
}